{% extends "base.html" %}
{% load static %}
{% block 'head' %}

	<link rel="stylesheet" href="{% static 'entrepreneurs/css/list_company.css' %}">
	<link rel="stylesheet" href="{% static 'entrepreneurs/css/company_detail.css' %}">
	<link rel="stylesheet" href="{% static 'users/css/users.css' %}">
	
{% endblock 'head' %}


{% block 'body' %}
    {% include "partials/_nav.html" %}
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    {% include "partials/_messages.html" %}
                    <div class="col-md-3">
                        <img src="{{company.logo.url}}" class="foto-empresa" alt="">
                    </div>
                    <div class="col-md">
                        <h3>{{company.name}}</h3>
                        <span class="badge bg-primary">{{company.get_area_display}}</span>
                    </div>
                    
                </div>
                <br><br>
                <div class="progress">
                    <div class="progress-bar bg-success"
                                style="width: {{sold_pct}}%"></div>

                            <div class="progress-bar bg-primary"
                             style="width: {{company.percent_equity}}%"></div>
                </div>
                <br>
                {% if concretized %}
                    <span class="badge bg-success">V</span><span>&nbsp &nbsp A empresa já atingiu 80% do percentual captado, portanto seu investimento será concretizado.</span>
                
                {% else %}
                    <span class="badge bg-warning">x</span><span>&nbsp &nbsp Seu investimento será concretizado caso a empresa atinja pelo meno 80% do valor esperado até a data final.</span>
                {% endif %}
                
                
                <hr>
                <p>{{company.desc}}</p>
                <div class="col-md">
                    <h5>Valuation esperado</h5>
                    <span class="sub-fonte">Esperado: R$ {{company.valuation}}</span>
                    <br>
                    <br>
                    <h5>Percentual</h5>
                    <span class="sub-fonte">Total a venda: {{company.percent_equity}}%</span>
                    <br>
                    <span class="sub-fonte">Disponivel à compra: {{pct_available}}%</span>
                </div>
                <br>
                <span class="badge bg-warning">{{company.target_audience}}</span>
                <br><br>
                <h4 style="color: #92D5EB">Indicadores |</h4>
                
                <div class="row">
                    {% for metric in metrics %}
                        <div class="col-md-3" >
                            <div class="dark-color" style="padding: 20px; text-align: center;">
                                <h5>{{metric.title|title}}</h5>
                                <h6>R$ {{metric.value}}</h6>
                            </div>
                        </div>
                    {% endfor %}

                    
                  
                </div>

                <hr>
                <div class="row">
                    <h4>Faça sua proposta</h4>
                    <br><br>
                    <div class="col-md">
                        <form action="{% url "propose" company.pk %}" method="POST"> {% csrf_token %}
                            <input type="number" name="valor" class="form-control" placeholder="Valor para investir">
                            <br>
                            <input type="submit" class="btn btn-indigo-normal" value="Salvar">
                    </div>
                    <div class="col-md">
                            <input type="number" name="percentual" class="form-control" placeholder="Percentual desejado">
                        </form>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-5 intereses-investimentos">
                {% if company.pitch %}
                    <video name='demo' controls  width='100%'>
                        <source src="{{company.pitch.url}}" type="video/mp4"></source>
                    </video>
                {% endif %}

                <hr>
               
                {% for doc in docs %}
                    <div class="list_documentos">
                        <div class="row">
                            <div class="col-md-2" style="text-align: center">
                                <a href="{{doc.file.url}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" style="color: white;" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                                    </svg>
                                </a>
                                
                            </div>
                            <div class="col-md-6">{{doc.title}}</div>
                            <div class="col-md-4" style="text-align: right;">
                                
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <br><br>
{% endblock 'body' %}